.main-nav {
	&-list {
		 display: flex;
	    justify-content: space-between;
	    align-items: center;
	}

	&-item {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		background-color: var(--main-gray);
		flex: 1;
		padding: 5rem 0;

		&:after {
			content: '';
			display: block;
			width: 1px;
			height: 15px;
			background-color: var(--dark-gray);
			opacity: .5;
			position: absolute;
    		top: 5px;
    		left: -1px;
		}

	 	&.active {
			color: var(--white);
			background-color: var(--dark-gray);

			&:after {
				content: none;
			}
		}
	}
}