.main-form {
    display: flex;
    flex-direction: column;
    max-width: 380rem;
    height: 190px;
    justify-content: space-between;

     @media #{$break1} {
        height: auto;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$break1} {
            display: block;
        }
    }

    .formfield {

        &.wide {
            width: 48%;

             @media #{$break1} {
                width: 100%;
            }
        }

        &.narrow {
            width: 20%;

             @media #{$break1} {
                width: 100%;
            }
        }
    }

    .form-label {
        display: block;
        font-size: 12rem;
        margin-bottom: 5rem;
    }

    .text-input {
        width: 100%;
        border: solid 1px rgba(0,0,0,0.2);
        padding: 4rem;
        color: var(--text-blue);
    }
}

