.main-content-title {
	text-transform: uppercase;
	font-size: 24rem;
	border-bottom: solid 1px grey;
    padding-bottom: 6rem;
    margin-bottom: 30rem;
}

.section-header {
	font-weight: 700;
	font-size: 16rem;
	margin-bottom: 16rem;
}